<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
	<!-- 
	VO / DTO Aliases
	<typeAliases>
		Alias example
		<typeAlias type="pathOfClass" alias="example"/>
	</typeAliases>
	-->
	<typeAliases>
		<typeAlias type="com.misoot.lar.admin.model.vo.Admin" alias="admin"/>
		<typeAlias type="com.misoot.lar.home.model.vo.Home" alias="home"/>
		<typeAlias type="com.misoot.lar.user.model.vo.User" alias="user"/>
		<typeAlias type="com.misoot.lar.commu.model.vo.Commu" alias="commu"/>
		<typeAlias type="com.misoot.lar.commu.model.vo.Attachment" alias="attachment"/>
		<typeAlias type="com.misoot.lar.commu.model.vo.CommuReply" alias="commuReply"/>
		<typeAlias type="com.misoot.lar.common.sockJS.model.vo.Inquire" alias="inquire"/>
		<typeAlias type="com.misoot.lar.user.model.vo.Purchase" alias="purchase"/>
		
		<!-- Lecture Vo -->
		<typeAlias alias="lecture" type="com.misoot.lar.lecture.model.vo.Lecture"/>		
		<typeAlias alias="lectureBoard" type="com.misoot.lar.lecture.model.vo.LectureBoard"/>		
		<typeAlias alias="LectureQ" type="com.misoot.lar.lecture.model.vo.LectureQ"/>		
		<typeAlias alias="LectureA" type="com.misoot.lar.lecture.model.vo.LectureA"/>		
		<typeAlias alias="LectureReview" type="com.misoot.lar.lecture.model.vo.LectureReview"/>
		<typeAlias alias="LectureHistory" type="com.misoot.lar.lecture.model.vo.LectureHistory"/>
		<typeAlias alias="BoardLectureAttachment" type="com.misoot.lar.lecture.model.vo.BoardLectureAttachment"/>
		<typeAlias alias="LectureTotalScore" type="com.misoot.lar.lecture.model.vo.LectureTotalScore"/>
	</typeAliases>
	
	<!--
	TypeHandlers
	<typeHandlers>
		TypeHandlers example	
		<package name="com.kh.spring.common.typehandler"/>
	</typeHandlers>
	-->
</configuration>
